div
  a.link(ui-sref='dashboard')
    p.return < Volver
  .detail-container
    .detail-img
      img.detail-default-img(ng-hide='book.copy.image_url', src='assets/images/default_book.svg', alt='Default book cover')
      img.detail-cover-img(ng-show='book.copy.image_url', src='{{book.copy.image_url}}', alt='Book cover')
    .detail-data
      h1.detail-title {{book.copy.title}}
      h2.detail-author {{book.copy.author}}
      h2.detail-year {{book.copy.year}}
      h2.detail-genre {{book.copy.genre}}
      p.detail-desc {{book.copy.description}}
      button.detail-btn Alquilar
  .suggestions-container
    h1.section-title Sugerencias
    img.suggest-default-img(src='assets/images/default_book.svg', alt='Default book cover')
    img.suggest-default-img(src='assets/images/default_book.svg', alt='Default book cover')
    img.suggest-default-img(src='assets/images/default_book.svg', alt='Default book cover')
    img.suggest-default-img(src='assets/images/default_book.svg', alt='Default book cover')
  .comments-container
    h1.section-title Comentarios
    .add-comment-container
      img.profile-photo(src='assets/images/profile.jpg', alt='Profile photo')
      .add-comment
        p.comment-title Agregar comentario
        textarea.comment-textarea
        button.comment-btn Enviar
    .book-comments(ng-repeat='comment in book.comments')
      img.profile-photo(src='assets/images/profile.jpg', alt='Profile photo')
      .comment-data
        h1.comment-user {{comment.user}}
        p.comment-date {{comment.date}}
        p.comment-text {{comment.text}}