//FILTER 
.search {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter {
  background: none;
  border: none; 
  font-size: 14px;
  height: 38px;
  margin-right: 28px;
  outline: none;
  width: 238px;
}

.search-icon {
  background-color: #a5cd39;
  background-image: url('assets/images/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 38px;
  padding: 8px 6px 6px 8px;
  width: 38px;
    &:focus {
      outline: 0;
    }
}

//BOOK GRID
.book-grid {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-template-rows: 220px 220px 220px;
  grid-gap: 65px 74px;
  margin-top: 65px;
  justify-content: center;
}

.book-container {
  width: 128px;
}

.default-img {
  background-color: #d8d8d8;
  padding: 54px 26px;
}

.cover-img {
  height: 182px;
  width: 128px;
}

.book-title {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 19px;
}

.book-author {
  color: #4a4a4a;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 19px;
} 

.msg-noresults {
  color: grey;
  font-size: 16px;
  font-style: italic;
  grid-column-end: 5;
  grid-column-start: 1;
  justify-self: center;
}

.link {
  color: transparent;
}
