.login-container
  img.login-logo(src='assets/wbooks_logo.png', alt='WBooks logo')
  button.open-login(onclick="document.getElementById('login-form').style.display='block'") INGRESAR CON GOOGLE
  #login-form.login
    form.login-content(ng-submit='login.redirect()')
      h1.login-title Log In
      .form-item
        label(for='email') Email
        input(type='text', id="login-email", name='email', required='', pattern="^[a-zA-Z\-\._0-9]+@[a-zA-Z\-0-9]+\.[a-zA-Z]{2,3}\.[a-zA-Z]{0,2}$")
      .form-item
        label(for='psw') Password
        input(type='password', id="login-psw", name='psw', required='', minlength="8", maxlength="52", pattern="^[a-zA-Z0-9\-\._]*([a-zA-Z][0-9]|[0-9][a-zA-Z])[a-zA-Z0-9\-\._]*$")
      .buttons-container
        button.cancel-btn(onclick="document.getElementById('login-form').style.display='none'") Cancelar
        button.login-btn(type='submit') Ingresar
