.footer-container {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 300px 25px;
}

.footer-text { 
  color: white;
  font-size: $text-big;
  margin: 10px 0;
}

.logo-white {
  min-width: 400px;
}

.copyright-text {
  align-self: flex-end;
  color: white;
  font-size: $text-small;
}
