.tech-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 350px 80px;
  }
  
  .tech-container {
    align-items: center;
    background-color: $green;
    border-radius: 7px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
    height: 350px;
    position: relative;
    width: 230px;
  
      &::before {
        border: 1px solid $green;
        border-radius: inherit; 
        content: "";
        height: 100%;
        left: -10px;
        position: absolute;
        top: -10px;
        transition: all 0.4s ease;
        width: 100%;
        z-index: -1;
      }

      &:hover::before {
          left: 10px;
          top: 10px;
      }
  }
  
  .tech-icon {
    height: $tech-logo-size;
    width: $tech-logo-size;
  }
  
  .tech-title, 
  .tech-release, 
  .tech-desc {
    font-size: $text-medium;
    margin: 10px 0;
    text-align: center;
  }
  
  .tech-release {
    font-weight: bold;
  }
  