.tech-container {
  align-items: center;
  background-color: $green;
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 12px 12px;
  position: relative;
  width: 230px;
    
    &::before {
      border: 1px solid $green;
      content: "";
      height: 100%;
      left: -10px;
      position: absolute;
      top: -10px;
      width: 100%;
      z-index: -1;
    }
    
    &,
    &::before {
      border-radius: 6px;
      box-sizing: border-box;
      margin: 2% 0;
    }
}

.tech-icon {
  height: $tech-logo-size;
  width: $tech-logo-size;
}

.tech-title, 
.tech-release, 
.tech-desc {
  font-size: $text-medium;
  text-align: center;
}

.tech-release {
  font-weight: bold;
}

.tech-title {
  margin: 12px 0;
}

.tech-desc {
  margin: 12px 0;
}

.tech-grid {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 80px;
  width: 55%;
}
