.tech-container {
  align-items: center;
  background-color: $green;
  display: flex;
  flex-direction: column;
  height: 300px;
  position: relative;
  width: 200px;
    &::before {
      border: 1px solid $green;
      content: "";
      height: 100%;
      left: -10px;
      position: absolute;
      top: -10px;
      width: 100%;
      z-index: -1;
    }
    &,
    &::before {
      border-radius: 10px;
      box-sizing: border-box;
    }
}

.tech-icon {
  height: $tech-logo-size;
  margin: 4px 0;
}

.tech-title, 
.tech-release, 
.tech-desc {
  font-size: $text-medium;
  margin: 4px 0;
  text-align: center;
}

.tech-release {
  font-weight: bold;
}

.tech-desc {
  margin: 12px 0;
}
