*{
  font-family: $roboto;
}

.title {
  align-items: center;
  display: flex;
  font-size: $text-big;
  height: $title-decoration-height;
    &::before {
      content: url('assets/triangle.svg'); 
      left: -52px;
      position: absolute;
      width: $title-decoration-width;
      z-index: -1;
    }
} 
