.title-container {
    align-items: center;
    display: flex;
    margin: 80px auto 20px;
    width: 60%;
}

.title {
    color: black;
    font-family: $roboto;
    font-size: $text-big;
    position: absolute;
    padding-left: 50px;
} 

.triangle-decorator {
    height: $title-decoration-height; 
    width: $title-decoration-width;
}
