doctype html
html(lang='en')
  head
    title WBooks
    meta(charset='UTF-8')
    meta(name='viewport'
      content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')  
    link(href='/css/application.css' rel='stylesheet')
    base(href='/')
  body(ng-app='store' ng-strict-di)
    div(ui-view='main')
    // inject:js
    // endinject
