div
  .search
    select.filter(name='filter', ng-model='store.filterValue')
      option(value='', selected='', disabled='', hidden='') Seleccionar filtro
      option(value='title') Título
      option(value='author') Autor
    input.filter(placeholder='Buscar...', ng-model='store.searchBox')
    button.search-icon(alt='Search', ng-click='store.searchBook()')
  .book-grid
    h1.msg-noresults(ng-hide='store.products[0]') No hay resultados para su búsqueda.
    .book-container(ng-repeat='product in store.products')
      a.link(ui-sref='detail')
        img.default-img(ng-hide='product.image_url', src='assets/images/default_book.svg', alt='Default book cover')
      a.link(ui-sref='detail')
        img.cover-img(ng-show='product.image_url', src='{{product.image_url}}', alt='Book cover')
      a.link(ui-sref='detail')
        h1.book-title {{product.title}}
      a.link(ui-sref='detail')
        h2.book-author {{product.author}}