@import '../../../scss/variables/colors.scss';

.navbar-container {
  background-color: $white;
  border-top: 4px solid $wolox-blue;
  box-shadow: 0 5px 20px $grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 300px;
}

.navbar-logo {
  max-width: 180px;
}

.logout {
  color: $black;
  font-size: 18px;
  font-weight: bold;
}