$wolox-green: #9ACD32;
$wolox-blue: rgba(85, 164, 218, 0.7);
$grey: #DCDCDC; 
$translucent-white: rgba(255, 255, 255, 0.9);
$translucent-black: rgba(0, 0, 0, 0.4);
$white: #FFF;
$red: #8B0000;
$black: #000;